html,
body,
div#root {
  position: absolute;
  height: 100%;
  width: 100%;

  margin: 0 !important;
  background-color: transparent !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
p,
.p {
  margin-top: 0;
  margin-bottom: 0;
}
